<h1>Click an Artist to View Content</h1>
<%= link_to 'Create a new Artist', new_artist_path %>
<ul>
  <%= @artists.each do |artist| %>
    <li><%= link_to artist.artist, artist %></li>
  <% end %>
</ul>
